div.timer {
    margin: 40px 12px 20px;
    height: 300px;
    max-width: 616px;

    padding: 20px 0px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: #6746461a;
}

@media (min-width: 640px) {
    div.timer {
        margin-left: auto;
        margin-right: auto;
    }
}

div.timer > div {
    min-width: 50%;
    display: flex;
    flex-direction: column;
}


.button_group {
    display: flex;
    gap: 10px;

    margin-bottom: 2rem;
}

.button_group button {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    flex: 1;
    padding: 6px 0;
    
    border-radius: 4px;
}

time {
    font-size: 6rem; /* 96px */
    line-height: 1;

    margin: 0 auto;
}

/*
#resetar{
    display: none;
}
#pause{
    display: none;
}

#pom{
    color: #4d354d;
    background-color: #a775a7;
    font-size: 9rem;
    border-radius: 5rem;
    border: solid;
    padding: 4rem;
}
button{
    color: #4d354d;
    font-size: 25px; 
    padding: 7.5px 12.5px 7.5px 12.5px;
    margin: 2.5rem;
    font-family: 'Varela Round', Arial;
    background: #a775a7;
    border-radius: 12px;
    border: solid 2.95px;
    border-color: #4d354d;
    outline: none;
    opacity: 0.4;
}
button:hover{
    opacity: 1;
} */