@import "tailwindcss";

@theme {
	--color-primary: var(--color-primary);
}

[data-theme="red"] {
  --color-primary: #ba4949;
}

[data-theme="light-blue"] {
  --color-primary: #38858a;
}

[data-theme="dark-blue"] {
	--color-primary: #3b82f6;
}

.active {
	@apply bg-black/15 font-semibold rounded-sm;
}

button {
	@apply cursor-pointer
}
